{% extends 'base.html' %}
{% load static %}
{% block title %}Movies{% endblock title %}
{% block content %}

    <!-- hero
    ================================================== -->
    <section id="hero" class="s-hero">

        <div class="s-hero__slider">


            {% for movie in movies%}
            <div class="s-hero__slide">
                <div class="s-hero__slide-bg" style="background-image: url('{{ movie.image.url }}');"></div>

                <div class="row s-hero__slide-content animate-this">
                    <div class="column">
                        <div class="s-hero__slide-meta">
                        </div>
                        <h1 class="s-hero__slide-text">
                            <a href="{% url 'detail' movie.id %}">
                                {{ movie.title }}
                            </a>
                        </h1>
                    </div>
                </div>

            </div> <!-- end s-hero__slide -->
            {% endfor %}
        </div> <!-- end s-hero__slider -->

        <div class="s-hero__social hide-on-mobile-small">
            <p>Follow</p>
            <span></span>
            <ul class="s-hero__social-icons">
                <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
            </ul>
        </div> <!-- end s-hero__social -->

        <div class="nav-arrows s-hero__nav-arrows">
            <button class="s-hero__arrow-prev">
                <svg viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M1.5 7.5l4-4m-4 4l4 4m-4-4H14" stroke="currentColor"></path></svg>
            </button>
            <button class="s-hero__arrow-next">
               <svg viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M13.5 7.5l-4-4m4 4l-4 4m4-4H1" stroke="currentColor"></path></svg>
            </button>
        </div> <!-- end s-hero__arrows -->

    </section> <!-- end s-hero -->


    <!-- content
    ================================================== -->
    <section class="s-content s-content--no-top-padding">


        <!-- masonry
        ================================================== -->
        <div class="s-bricks">

            <div class="masonry">
                <div class="bricks-wrapper h-group">

                    <div class="grid-sizer">

                    {% for movie in page_obj %}
                        <article class="brick entry" data-aos="fade-up">

                        <div class="entry__thumb">
                            <a href="{% url 'detail' movie.id %}" class="thumb-link">
                                {% if movie.image %}
                                <img src="{{ movie.image.url }}" alt="{{ movie.title }}">
                                {% endif %}
                            </a>
                        </div> <!-- end entry__thumb -->

                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="entry__title"><a href="{% url 'detail' movie.id %}">{{ movie.title }}</a></h1>

                                <div class="entry__meta">
                                    <span class="byline">
                                    <span class="cat-links">
                                        <a href="{% url 'list' movie.genre.slug %}">{{ movie.genre }}</a>
                                    </span>
                                        <br>

                                        <span class='author'>
                                            <a href="#0">{{ movie.rel_date }}</a>
                                    </span>
                                    </span>
                            <div class="entry__excerpt">
                                <p>
                                    {{ movie.description|truncatechars:50 }}
                                </p>
                            </div>
                            <a class="entry__more-link" href="{% url 'detail' movie.id %}">Подробнее</a>
                        </div> <!-- end entry__text -->
                    </article> <!-- end article -->
                    {% endfor %}
                    </div>
                </div> <!-- end brick-wrapper -->

            </div> <!-- end masonry -->

<nav aria-label="..." style="margin-left: 550px">
  <ul class="pagination pagination-lg">
      {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="{% url 'home'%}?page={{ page_obj.previous_page_number}}">{{ page_obj.previous_page_number}}</a></li>
      {% endif %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">{{page_obj.number}}</a>
    </li>
      {%if page_obj.has_next%}
    <li class="page-item"><a class="page-link" href="{% url 'home'%}?page={{ page_obj.next_page_number}}">{{ page_obj.next_page_number}}</a></li>
      {% endif %}
  </ul>
</nav>





        </div> <!-- end s-bricks -->

    </section> <!-- end s-content -->



{% endblock %}