{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div id="main">
    <div id="content">
      <div class="box">
        {% for movie in movies %}
        <div class="movie">
          {% if movie.image %}
          <div class="movie-image"><a href="{% url 'detail' movie.id %}"><img src="{{ movie.image.url }}" alt="..." /></a></div>
          {% endif %}
          <div class="movie-desc">
            <a href="{% url 'detail' movie.id %}"><h4>{{ movie.title }}</h4></a>
            <p>{{ movie.description|truncatewords:5}}</p></div>
        </div>
  {% endfor %}
{% endblock %}



<!--</div>-->
<!-- END PAGE SOURCE -->
</body>
</html>
