{% extends "base.html"%}
{% block content %}
{% load bootstrap %}
<div class="vid-set">
    <div class="content-vid">

        <iframe style="width: 80%; height: 600px; margin: 70px; margin-top: 200px; margin-bottom: 0px;"
    src="{{ movie.video }}">
    </iframe>
    </div>
    <div class="movie-description">
    <h1 class="h-desc" style="margin-left: 70px; margin-right: 70px; margin-top: 50px;">{{ movie.title}}</h1>
    <p style="margin-left: 70px; margin-right: 70px;">{{ movie.description }}</p></div>
    </div>
<br>
<br>
<br>
<br>
<br>

<div class="comment-section">
    <h1 class="h-desc" style="margin-left: 2px; margin-right: 70px; margin-top: 50px; font-family: 'DM Serif Display'">Comment section</h1>
    <br>
    {% for comment in comments %}
{% if comment.movie == movie %}
<div class="comment-container" style="margin-left: 5px; margin-right: 70px; margin-top: 50px;">
  <p class="user-data">{{ comment.user }} | {{ comment.date }}</p>
  <p class="comment-data">{{ comment.description }}</p>

</div>


    {% endif  %}
{% endfor %}
</div>
<br>
    <div class="comment-form">
        <form action="." method="post">
            {% csrf_token %}
            <input style="border: black solid 1px;" name="description">
            <br>
            <br>
            <button type="submit">Comment</button>
            </form>
    </div>


</div>
<div class="edit-delete-btn">
{% if movie.author == user %}
<a href="{% url 'edit' movie.pk %}"><button type="submit">Edit</button></a>
<a href="{% url 'delete' movie.pk %}"><button type="submit">Delete</button></a>
{% endif %}
</div>

<!--<div class="vid-set"></div>-->
{% endblock %}

