{% extends "base.html"%}
{% block content %}
{% load bootstrap %}
<div class="vid-set">
    <div class="content-vid">

        <iframe style="width: 80%; height: 600px; margin: 120px; margin-top: 200px; margin-bottom: 0px;"
    src="{{ movie.video }}">
    </iframe>
    </div>
    <h3 style="margin-left: 50px; margin-right: 50px;">{{ movie.title}}</h3>
    <p style="margin-left: 50px; margin-right: 50px">{{ movie.description }}</p>
 </div>

<div class="comment-section">
    <h4>Comment section</h4>
    {% for comment in comments %}
{% if comment.movie == movie %}
<div class="comment-container">
  <p class="user-data">{{ comment.user }} | {{ comment.date }}</p>
  <p class="comment-data">{{ comment.description }}</p>

</div>
    <br>

    {% endif  %}
{% endfor %}
</div>

    <div class="comment-form">
        <form action="." method="post">
            {% csrf_token %}
            <input style="border: black solid 1px;" name="description">
            <br>
            <br>
            <button type="submit">Comment</button>
            </form>
    </div>


</div>
<div class="edit-delete-btn">
{% if movie.author == user %}
<a href="{% url 'edit' movie.pk %}"><button type="submit">Edit</button></a>
<a href="{% url 'delete' movie.pk %}"><button type="submit">Delete</button></a>
{% endif %}
</div>

<!--<div class="vid-set"></div>-->
{% endblock %}

